form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

input{
  width: 80%;
  height: 30px;
  border: none;
  /* background-color: #4f5b62; */
  background-color: #263238;
  color: whitesmoke;
  /* text-align: center; */
  font-size: 1rem;
  outline: none;
  padding-left: 20px;
}

form > button {
  background-color: lightcoral;
  border: none;
  color: white;
  min-width: 80px;
  width: 10%;
  height: 32px;
  cursor: pointer;
  outline: none;
}

form > button:hover{
  background-color: coral;
}